<launch>
        <node pkg="dynamixel_arm_control" type="hardware_manager_node.py" name="hardware_manager_node"></node>

        <node pkg="dynamixel_arm_control" type="control_node.py" name="control_node"></node>

        <node pkg="dynamixel_arm_control" type="positions_node.py" name="positions_node"></node>

        <node pkg="dynamixel_arm_control" type="moveit_controller_bridge.py" name="moveit_controller_bridge"></node>
</launch>
